//Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

//variables
@import 'variables';

//Bootstrap
@import '~bootstrap/scss/bootstrap';

.h-screen {
    height: 100vh;
}
.logob {
    height: 10vh;
}
.logsubsec {
    height: 7vh;
}
.page-footer {
    background: #eae9e9;
}

.nav-link {
    color: white;
}

//Comentarios y calificación perfil
.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}

.btn {
    background-color: #30204d;
    border: #78bc57;
    color: white;
}
