//Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,500&family=Roboto:wght@300;500;700&display=swap");

//variables
@import "variables";

//Bootstrap
@import "~bootstrap/scss/bootstrap";
* {
<<<<<<< HEAD
	box-sizing: border-box;
	
  }
  
=======
  box-sizing: border-box;
}

>>>>>>> 24639302e3c5bf427f9d40c1698e51255c2674bb
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 60px; /* Margin bottom by footer height */
}

//Generales


.btn-own {
<<<<<<< HEAD
    background-color: #343a40;
   
    color: white;
}
.btn-success{
	background: none;
=======
  background-color: #343a40;
  border: #78bc57;
  color: white;
}
a.btn:hover {
  background: #78bc57;
>>>>>>> 24639302e3c5bf427f9d40c1698e51255c2674bb
}

button:hover {
  background: #78bc57;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: 0.5rem 0;
	margin: 0.125rem 0 0;
	font-size: 0.9rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: none;
	border-radius: 0.25rem;
  }

label {
  margin-bottom: 0%;
}
.centrar-izq {
  text-align: left;
}
.centrar-der {
  text-align: right;
}
.centrar {
  text-align: center;
}
.centrar-flex {
  display: flex;
  justify-content: center;
}

.h-screen {
  height: 100vh;
}

//nav
.inner-header {
  background-color: #02093b;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: #78bc57;
}

.fa-user {
  color: white;
  font-size: x-large;
}
.fa-user:hover {
  color: #78bc57;
}

<<<<<<< HEAD

#Ini-reg{
	border-radius: 1px solid white!important; 
=======
#Ini-reg {
  border-radius: 1px solid white !important;
>>>>>>> 24639302e3c5bf427f9d40c1698e51255c2674bb
}
//footer
.logob {
  height: 8vh;
}
.logsubsec {
  height: 7vh;
}
.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.logos {
  justify-content: space-around;
  display: flex;
}
.sin_subrayar {
  text-align: right;
}
.sin_subrayar a {
  text-decoration: none;
}

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}
.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}
.btn-dark:focus,
.btn-dark.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}
.btn-dark.disabled,
.btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}
.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.footer {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  width: 100%;
  height: 105px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

// administración

.sidebar {
  background-color: #1d2124;
  height: 75vh;
}
.contenido-tabla {
  overflow-y: scroll;
  height: 425px;
}
//administracion-especialidades
.col-oficio {
  width: 30%;
}
.col-acciones {
  width: 30%;
}

// administración - solicitudes
.content {
  width: 100%;
}
.content h1 {
  text-align: center;
}
.content .content-footer p {
  color: #6d6d6d;
  font-size: 12px;
  text-align: center;
}
.content .content-footer p a {
  color: inherit;
  font-weight: bold;
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.pull-right {
  text-align: right;
}
.panel {
  border: 1px solid #ddd;
  background-color: #fcfcfc;
}
.panel .btn-group {
  margin: 15px 0 30px;
}
.panel .btn-group .btn {
  transition: background-color 0.3s ease;
}

.panel .btn-group .btn-default {
  border: solid 1px rgb(197, 194, 194);
  border-left: solid 1px #f5f5f5;
}
.panel .btn-group .btn-default:hover {
  background: #bec0bd;
}
.table-filter {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
}
.table-filter tbody tr td {
  padding: 10px;
  vertical-align: middle;
  border-top-color: #eee;
}
.table-filter tbody tr.selected td {
  background-color: #eee;
}
.table-filter tr td:first-child {
  width: 38px;
}
.table-filter tr td:nth-child(2) {
  width: 35px;
}
.ckbox {
  position: relative;
}
.ckbox input[type="checkbox"] {
  opacity: 0;
}
.ckbox label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ckbox label:before {
  content: "";
  top: 1px;
  left: 0;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  border-radius: 2px;
  border: 1px solid #bbb;
  background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
  border-color: #2bbcde;
  background-color: #2bbcde;
}
.ckbox input[type="checkbox"]:checked + label:after {
  top: 3px;
  left: 3.5px;
  content: "\e013";
  color: #fff;
  font-size: 11px;
  font-family: "Glyphicons Halflings";
  position: absolute;
}
.table-filter .star {
  color: #ccc;
  text-align: center;
  display: block;
}
.table-filter .star.star-checked {
  color: #f0ad4e;
}
.table-filter .star:hover {
  color: #ccc;
}
.table-filter .star.star-checked:hover {
  color: #f0ad4e;
}
.table-filter .media-photo {
  width: 35px;
}
.table-filter .media-body {
  display: block;
  /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
  font-size: 11px;
  color: #999;
}
.table-filter .media .title {
  color: #2bbcde;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}
.table-filter .media .title span {
  font-size: 0.8em;
  margin-right: 20px;
}
.table-filter .media .title span.pagado {
  color: #5cb85c;
}
.table-filter .media .title span.pendiente {
  color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
  color: #d9534f;
}
.table-filter .media .summary {
  font-size: 14px;
}
// fin solicitudes

//Paginación inicio
#hero-container {
  height: 600px;
  background-color: #060c3e;
}

#hero-background {
  background-color: #02093b;
  position: absolute;
  width: 0;
  height: 600px;
  transition: 0.2s ease-in-out;
}

.display-1 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
  margin-left: -1em;
}
.my-4 {
  margin-bottom: 1.5rem !important;
  margin-left: -1em;
}
.btn {
  padding: 0.75rem 2rem;
}

#boton1 {
  margin-left: 3em;
  background: none;
  border-color: white !important;
}

#boton2 {
  margin-left: 4em;
  background: none;
  border-color: white !important;
}
#boton1:hover {
  color: black;
  background: white !important;
}
#boton2:hover {
  color: black;
  background: white !important;
}

#hero-img {
  margin: 0;
  margin-top: 30%;
}
.img-fluid {
  width: auto !important;
  background-size: cover;
}
.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}

.swiper-container {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 50px;
	margin-top: 170px;
	margin-left: -60px;

  }

  .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 200px;
	height: 250px;
	background: #000;
  }

.table-wrapper-scroll-y {
  display: block;
}
.btn-buscar {
  margin-top: 8%;
}
.td-nya {
  text-align: left;
  margin-left: 19%;
}
#mapa {
  width: 450px;
  height: 350px;
}

// ayuda

.help-subtitle {
  font-size: 16px;
  font-weight: lighter;
}

.help-btn {
  height: 55px;
  width: 100%;
  border-radius: 30px;
  background: transparent;
  border-color: #02093b;
  color: #02093b;
}

.help-btn:hover {
  background: #02093b;
  color: white;
  border-color: white;
}

.help-btn:focus{
	outline: none;
}

.question-title {
  font-weight: bold;
  font-size: 16px;
}

.question-body {
  font-size: 16px;
  font-weight: initial;
}

.btn-container {
  margin-bottom: 20px;
}

// inicio - inscribite
.shop-banner {
  position: relative;
  background-color: #f5f5f5;
  background-image: url(../../public/img/inscribite.png);
  background-size: cover;
  padding: 110px 0px 115px;
}
.shop-banner .sale-percent {
  font-family: "Roboto", sans-serif;
  position: relative;
  font-size: 60px;
  font-weight: 700;
  color: #78bc57;
  line-height: 70px;
}
.text-inscrip {
  font-family: "Montserrat", sans-serif;
}
a.cart-btn {
  display: inline-block;
  background-color: #343a40;
  color: #fff;
  padding: 10px 20px;
}
.shop-banner p {
  position: relative;
  font-size: 17px;
  line-height: 1.2em;
  width: 50%;
  text-align: justify;
}

//profesionalPerfil
.contenedor-datos {
  padding-top: 3%;
  text-align: left;
}
.datos-perfil {
  width: 70%;
  padding-left: 100px;
}

.ficha {
  display: flex;
}
.titulo-detalle {
  border-bottom: solid 0.1px #78bc57;
  margin-bottom: 3%;
}
.avatar {
  margin-right: 2%;
}
.user-avatar {
  height: 200px;
}
.user-avatar-icon {
  font-size: 200px;
  color: #252533;
}
.datos-prestador {
  margin-left: 2%;
}
.ficha {
  display: flex;
  justify-content: center;
}
.opcion a {
  color: white;
  width: 200px;
}
.consultar {
  margin-bottom: 3%;
}

.cont-inscrip {
  margin-bottom: 50px;
}
//Comentarios y calificación perfil
.ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 32px;
  font-size: 2rem;

  color: #888;
}

.ec-stars-wrapper:hover a {
  color: rgb(39, 130, 228);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color: #888;
}
//Fin perfil profesional

//TErminos y condiciones que el prestador de servicio debe aceptar
.bases {
  text-align: justify;
}

//perfil que solo ve el usuario

//login
.cont-login {
  margin-top: 5%;
}
