//Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,500&family=Roboto:wght@300;500;700&display=swap");

//variables
@import "variables";

//Bootstrap
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 60px; /* Margin bottom by footer height */
}

//Generales

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #e48f27;
  font-weight: 500;
}

//boton de ingresar
#btn-logreg {
  margin-right: -7em;
}
.btn {
  background-color: transparent;
  color: #e48f27;
}

.btn-2 {
  background-color: transparent;
  color: #e48f27;
  border: solid 1px #e48f27;
}
.btn:hover {
  border: 1px solid #e48f27 !important;
  background-color: transparent;
  color: white;
}
.btn2:hover {
  border: 1px solid white !important;
  background-color: transparent;
  color: white;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #e48f27;
  background: #e48f27;
  border-bottom: 1px solid #e48f27 !important;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn-success {
  background: none;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white !important;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.9rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 0.25rem;
}

label {
  margin-bottom: 0%;
}
.centrar-izq {
  text-align: left;
}
.centrar-der {
  text-align: right;
}
.centrar {
  text-align: center;
}
.centrar-flex {
  display: flex;
  justify-content: center;
}

.h-screen {
  height: 100vh;
}

//nav
.inner-header {
  background-color: #02093b;
}

.nav-link {
  color: white;
  font-weight: 500;
  margin-left: 0;
  margin-right: 2em;
}
.nav-link:hover {
  color: #e48f27;
}

.fa-user {
  color: white;
  font-size: x-large;
}
.fa-user:hover {
  color: #78bc57;
}

#Ini-reg {
  border-radius: 1px solid white !important;
}

//footer

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.logos {
  justify-content: space-around;
  display: flex;
}
.sin_subrayar {
  text-align: right;
}
.sin_subrayar a {
  text-decoration: none;
}

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}
.btn-dark {
  color: #fff;
  background-color: #02093b;
  border-color: #02093b;
}
.btn-dark:hover {
  color: #fff;
  background-color: #e48f27;
  border-color: #1d2124;
}
.btn-dark:focus,
.btn-dark.focus {
  color: #fff;
  background-color: #e48f27;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}
.btn-dark.disabled,
.btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}
.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.footer {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  width: 100%;
  height: 105px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

// administración

.sidebar {
  background-color: #1d2124;
  height: 75vh;
}
.contenido-tabla {
  overflow-y: scroll;
  height: 425px;
}
//administracion-especialidades
.col-oficio {
  width: 30%;
}
.col-acciones {
  width: 30%;
}

// administración - solicitudes
.content {
  width: 100%;
}
.content h1 {
  text-align: center;
}
.content .content-footer p {
  color: #6d6d6d;
  font-size: 12px;
  text-align: center;
}
.content .content-footer p a {
  color: inherit;
  font-weight: bold;
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.pull-right {
  text-align: right;
}
.panel {
  border: 1px solid #ddd;
  background-color: #fcfcfc;
}
.panel .btn-group {
  margin: 15px 0 30px;
}
.panel .btn-group .btn {
  transition: background-color 0.3s ease;
}

.panel .btn-group .btn-default {
  border: solid 1px rgb(197, 194, 194);
  border-left: solid 1px #f5f5f5;
}
.panel .btn-group .btn-default:hover {
  background: #bec0bd;
}
.table-filter {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
}
.table-filter tbody tr td {
  padding: 10px;
  vertical-align: middle;
  border-top-color: #eee;
}
.table-filter tbody tr.selected td {
  background-color: #eee;
}
.table-filter tr td:first-child {
  width: 38px;
}
.table-filter tr td:nth-child(2) {
  width: 35px;
}
.ckbox {
  position: relative;
}
.ckbox input[type="checkbox"] {
  opacity: 0;
}
.ckbox label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ckbox label:before {
  content: "";
  top: 1px;
  left: 0;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  border-radius: 2px;
  border: 1px solid #bbb;
  background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
  border-color: #2bbcde;
  background-color: #2bbcde;
}
.ckbox input[type="checkbox"]:checked + label:after {
  top: 3px;
  left: 3.5px;
  content: "\e013";
  color: #fff;
  font-size: 11px;
  font-family: "Glyphicons Halflings";
  position: absolute;
}
.table-filter .star {
  color: #ccc;
  text-align: center;
  display: block;
}
.table-filter .star.star-checked {
  color: #f0ad4e;
}
.table-filter .star:hover {
  color: #ccc;
}
.table-filter .star.star-checked:hover {
  color: #f0ad4e;
}
.table-filter .media-photo {
  width: 35px;
}
.table-filter .media-body {
  display: block;
  /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
  font-size: 11px;
  color: #999;
}
.table-filter .media .title {
  color: #2bbcde;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}
.table-filter .media .title span {
  font-size: 0.8em;
  margin-right: 20px;
}
.table-filter .media .title span.pagado {
  color: #5cb85c;
}
.table-filter .media .title span.pendiente {
  color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
  color: #d9534f;
}
.table-filter .media .summary {
  font-size: 14px;
}
// fin solicitudes

//Paginación inicio
#hero-container {
  height: 600px;
  background-color: #02093b;
}

#hero-background {
  background-color: #02093b;
  position: absolute;
  width: 0;
  height: 600px;
  transition: 0.2s ease-in-out;
}

.display-1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-left: -1.6em;
  color: white;
  margin-top: -1em;
}

.sub-principal {
  color: white;
  margin-left: -3em;
  font-weight: 400;
}
#subtitulo1 {
  color: white;
  margin-left: -1em;
}

.btn {
  padding: 0.75rem 2rem;
}

#boton1 {
  margin-left: 10px;
  background: none;
  border-color: white !important;
  transition: 0.5 ease-in-out;
}

#boton2 {
  margin-left: 4em;
  background: none;
  border-color: white !important;
}
#boton1:hover {
  color: black;
}
#boton2:hover {
  color: black;
}

#hero-img {
  margin: 0;
  margin-top: 30%;
  //margin-right: -149px;
}

.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}

.swiper-container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: 110px;
  margin-left: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 250px;
  background: #000;
}

.titulo-card {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}
.nombre-card {
  position: absolute;
  bottom: 25px;
  left: 27px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

// home - filtros

section#filter .tituloServicios {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  padding-left: 0.6em;
  padding-bottom: 2em;
  padding-top: 2em;
  color: #e48f27;
  font-weight: 700;
}
#mapa {
  width: 540px;
  height: 350px;
}

section#filter .swiper-container-filter {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #d9d9d9;
  background-color: white;
}

.filter-bar {
  background-color: white;
  border-bottom: 1px #d9d9d9;
  margin-top: -11px;
  padding-top: 10px;
  padding-bottom: 15px;
  max-width: 1364px;
  margin-bottom: 3%;
}

.search-btn {
  width: 169px;
  height: 37px;
  background: #fffefe;
  border: 1px solid #d9d9d9;
  border-radius: 17px;
}

.search-btn:hover {
  background-color: #e48f27;
  color: white;
}

.search-btn:focus {
  outline: none;
}

section#filter .nya-filter {
  border-radius: 34px;
  width: 100%;
  height: 37px;
  border: 1px solid #d0d0d0;
  padding-left: 20px;
}

.nya-filter:focus {
  outline: none;
}

section#filter .name-card {
  font-family: "Roboto", sans-serif;
  color: black;
  border-bottom: 1px solid #0e263e;
  width: 90%;
  position: absolute;
  top: 15px;
  left: 15px;
}
section#filter .desc-card-filter p {
  position: absolute;
  left: 15px;
  top: 40px;
  color: #e48f27;
}

section#filter .fondo-enc {
  background-color: #ffffff7d;
  height: 60px;
  border-radius: 15px 15px 0px 0px;
}

section#filter .desc-card {
  font-family: "Montserrat", sans-serif;
}
section#filter .icon-card-filter {
  font-size: 15px;
  color: #0e263e;
}

section#filter .imagen-card-filter {
  width: 262px;
  height: 182px;
  border-radius: 15px;
}

//-------------------------------------------------------------------------------------//
// NUEVO CONTENEDOR DE FILTROS / HOME
//-------------------------------------------------------------------------------------//

.filters-container {
  margin-top: -16px;
  width: 100%;
  min-height: 205px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.filter-title {
  font-weight: bold;
  color: orange;
}

.input-filter {
  width: 354px;
  border-radius: 4px;
  border: solid 1px #d0d0d0d0;
  height: 31px;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 10px;
}

#inputID {
  margin-right: 394px;
}

.input-filter:hover {
  border: solid 1px orange;
}

.input-filter:focus {
  border: solid 1.5px orange;
}

.btn-filter-buscar {
  background-color: orange;
  color: white;
}

//-----------------------------------------------------------------------------------//
// FIN DE CONTENDOR DE FILTROS
//-----------------------------------------------------------------------------------//

//-----------------------------------------------------------------------------------//
// CARD DE OFICIOS
//-----------------------------------------------------------------------------------//
.card-oficio-new {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin-right: 20px;
  max-width: 168px;
}
.card-logo-oficios {
  width: 55px;
  height: 49px;
}

.card-nombre-oficio {
  color: #02093b;
}

.card-cantidad-prof {
  font-weight: lighter;
  font-style: italic;
  color: orange;
}
//-----------------------------------------------------------------------------------//
// FIN DE CARD DE OFICIOS
//-----------------------------------------------------------------------------------//

// nuevas cards de oficios - Home
.oficios-section {
  background-color: #eaeaea;
  background-image: url("https://web3canvas.com/wp-content/uploads/2014/02/unsplash-high-quality-hd-banner-backgound-images-stock-photos-free-tab-iphone-mac-desk-topview-download.jpg");
}

.oficios-card {
  height: 185px;
  width: 210px;
  background-color: white;
  border-radius: 15px;
  transition: 0.2s ease;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 3px 4px 0px rgba(140, 140, 140, 0.63);
  -moz-box-shadow: 1px 3px 4px 0px rgba(140, 140, 140, 0.63);
  box-shadow: 1px 3px 4px 0px rgba(140, 140, 140, 0.63);
}

.card-img-container .card-image {
  background-image: url("https://gitlab.com/uploads/-/system/user/avatar/6025439/avatar.png?width=400");
  background-size: cover;
  border: solid 6px #faaa10;
  border-radius: 50px;
  width: 101px;
  height: 101px;
  position: relative;
  -webkit-box-shadow: 1px 3px 4px 0px rgba(140, 140, 140, 0.63);
  -moz-box-shadow: 1px 3px 4px 0px rgba(140, 140, 140, 0.63);
  box-shadow: 1px 3px 4px 0px rgba(140, 140, 140, 0.63);
}

.card-info-container {
  height: 65px;
  margin-top: 4px;
}

.card-name {
  color: #636363;
  font-size: 12px;
  margin-bottom: -2px;
  font-weight: bold;
}

.card-oficio {
  color: #faaa10;
  font-size: 12px;
  margin-bottom: -2px;
  font-weight: lighter;
}

.card-localidad {
  color: #636363;
  font-size: 12px;
  margin-bottom: -2px;
  font-weight: lighter;
}

.card-localidad img {
  margin-right: 2px;
}

.btn-neo-container {
  height: 385px;
}

.map-container {
  height: 385px;
  padding-top: 20px;
}

.neo-title {
  font-weight: bold;
  font-size: 40px;
  color: #0e263e;
  margin-top: -5%;
}

.neo-btn {
  margin-left: 25%;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 0;
  background-color: #02093b;
  opacity: 0.8;
  overflow: hidden;
  width: 262px;
  border-radius: 15px;
  height: 0;
  transition: 0.5s ease;
  cursor: pointer;
}

.card-btn {
  color: white;
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 35px;
  width: 105px;
  background: transparent;
  border: 1px solid white;
  border-radius: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* .oficios-card:hover .card-overlay {
  height: 100%;
} */

.oficios-card:hover {
  transition: all 0.2s ease-out;
  margin-top: -4px;
  border: solid 1px orange;
  -webkit-box-shadow: 1px 4px 5px 0px rgba(140, 140, 140, 0.63);
  -moz-box-shadow: 1px 4px 5px 0px rgba(140, 140, 140, 0.63);
  box-shadow: 1px 4px 5px 0px rgba(140, 140, 140, 0.63);
  cursor: pointer;
}

//registro
.card-registro {
  margin: 0;
}

//Formulario de incripción para ser prestador y para solicitar nuevo oficio
.links-formulario {
  color: #e48f27;
}

section#solicitudOficio,
section#inscripcion,
section#contact {
  color: #636363;
}
section#solicitudOficio h1,
section#inscripcion h1,
section#contact h1 {
  color: #02093b;
  font-family: "Roboto", sans-serif;
}
section#solicitudOficio .desc,
section#inscripcion .desc {
  width: 60%;
  text-align: center;
}
//nwe slider
.row-slider {
  margin-bottom: 50px;
}
.slider {
  max-width: 300px;
  width: 262px;
  height: 165px;
  position: relative;
}

.slider-der {
  margin-left: 140px;
}
.of-city {
  margin-top: 106px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
}

.plus {
  color: #e48f27;
  font-size: 12px;
}

.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 262px;
  height: 165px;
  border-radius: 15px;
  box-shadow: 0px 0px 0px grey;
  -webkit-transition: box-shadow 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
}

.slide1 {
  background: url(https://image.freepik.com/foto-gratis/electricista-herramientas-correa_23-2147743109.jpg)
    no-repeat center;
  background-size: cover;
  animation: fade 8s infinite;
  -webkit-animation: fade 20s infinite;
}
.slide2 {
  background: url(https://image.freepik.com/foto-gratis/primer-plano-manos-apoyo_53876-30583.jpg)
    no-repeat center;
  background-size: cover;
  animation: fade2 8s infinite;
  -webkit-animation: fade2 20s infinite;
}
.slide3 {
  background: url(https://image.freepik.com/foto-gratis/carpintero-trabaja-arbol_1157-18920.jpg)
    no-repeat center;
  background-size: cover;
  animation: fade3 8s infinite;
  -webkit-animation: fade3 20s infinite;
}

// como funciona la web

.how-work {
  background-color: #e48f27;
  margin-top: -49px;
  min-height: 90vh;
}

.hw-title-container {
  padding-top: 52px;
}

.hw-title-container .hw-title {
  font-size: 2.8rem;
  color: #02093b;
}

.hw-title-container .hw-btn {
  border-color: white;
  color: white;
}

.hw-btn {
  background-color: transparent;
  color: #e48f27;
  border: solid 1px #e48f27;
}
.hw-btn-blue {
  background-color: #0e263e;
  color: white;
  border: solid 1px #0e263e;
}
.hw-btn-orange {
  background-color: #e48f27;
  color: white;
  border: solid 1px #e48f27;
}
.slide1:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow 0.3s ease-in;
}
.slide2:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow 0.3s ease-in;
}
.slide3:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow 0.3s ease-in;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
//registro
.form-control {
  border-top: 0px solid #ced4da;
  border-right: 0px solid #ced4da;
  border-left: 0px solid #ced4da;
  border-bottom: 1px solid #e48f27;
}
.card-register {
  width: 39em;
}

.register-swiper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: 70px;
  margin-left: -3px;
}
.card-header-register {
  margin-right: 2em;
  margin-left: 55em;
}
.card-register {
  border: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}
// ayuda
.img-container {
  width: 218vh;
  height: 40vh;
  background-image: url("../../public/img/help.png");
  background-size: cover;
  margin-top: -48px;
  color: white;
}
.img-container:before,
.img-about:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 20px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 40vh;
  margin-top: 87px;
}
.faq-title {
  font-size: 60px;
  text-shadow: -2px 3px #0e263e;
}

.faq-subtitle {
  font-size: 20px;
}

.card-question {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  -webkit-box-shadow: 5px 20px 20px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 5px 20px 20px -1px rgba(0, 0, 0, 0.13);
  box-shadow: 5px 20px 20px -1px rgba(0, 0, 0, 0.13);
  min-height: 250px;
}

.fq-container {
  background-color: white;
  border-radius: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 5px 20px 20px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 5px 20px 20px -1px rgba(0, 0, 0, 0.13);
  box-shadow: 5px 20px 20px -1px rgba(0, 0, 0, 0.13);
}

.help-btn {
  height: 55px;
  width: 100%;
  border-radius: 30px;
  background: transparent;
  border-color: #02093b;
  color: #02093b;
}

.help-btn:hover {
  background: #02093b;
  color: white;
  border-color: white;
}

.help-btn:focus {
  outline: none;
}

.question-title {
  font-weight: 600;
  color: #6d6d6d;
  border-bottom: solid 0.5px #e48f27;
  margin-bottom: 6%;
  font-size: 16px;
  text-align: center;
}
.question-title-faq {
  font-weight: 600;
  color: #6d6d6d;
  text-decoration: none;
}

.question-title-faq i {
  position: absolute;
  right: 20px;
  font-size: 25px;
}

.question-body {
  font-weight: lighter;
  font-size: 14px;
  color: #6d6d6d;
}

.btn-container {
  margin-bottom: 20px;
}

.whatsapp-flot {
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 15px;
  right: 25px;
  border-radius: 177px;
  background: #00bb2d;
  box-shadow: 5px 5px 10px #00a32766, -5px -5px 10px #00d33361;
}
.whatsapp-flot i {
  font-size: 33px;
  color: white;
  line-height: 50px;
}

//about
.img-about {
  width: 100%;
  height: 40vh;
  background-image: url(../../public/img/about1.png);
  background-size: cover;
  color: white;
  margin: 0px auto;
}

.text-about p {
  text-align: justify;
}

// inicio - inscribite
.shop-banner {
  position: relative;
  background-color: #f5f5f5;
  background-image: url(../../public/img/inscribite.png);
  background-size: cover;
  padding: 110px 0px 115px;
}
.shop-banner .sale-percent {
  font-family: "Roboto", sans-serif;
  position: relative;
  font-size: 60px;
  font-weight: 700;
  color: #e48f27;
  line-height: 70px;
}
.text-inscrip {
  font-family: "Montserrat", sans-serif;
  color: #6d6d6d;
}

.shop-banner p {
  position: relative;
  font-size: 17px;
  line-height: 1.2em;
  width: 46%;
  text-align: justify;
}

//contact

section#contact {
  background-image: url(../../public/img/contact2.png);
}
.contacto {
  margin-top: 10%;
}

section#contact .section-heading {
  font-family: "Roboto", sans-serif;
  font-size: 43px;
}

section#contact .section-subheading {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  width: 75%;
  margin-left: 0px;
}

section#contact .form-control {
  display: block;
  box-sizing: border-box;
  width: 75%;
  height: 2.21591rem;
  margin: 0 0 -1.09091rem;
  padding: 0.45455rem;
  border: 1px solid #bbbdc8;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  font-size: 0.90909rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

section#contact .form-control:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-color: #02093b;
}

section#contact .form-group-textarea .form-control {
  height: 150px;
}

.hollow {
  margin-right: 25%;
}
//prestador - perfil
#prestador {
  background-color: #f5f5f5;
}
#prestador-contenedor {
  position: relative;
  top: -100px;
  justify-content: center;
}
section#prestador .placa {
  background-color: white;
  border: solid 0.1px #e48f27;
  border-radius: 8px;
  box-shadow: 1px 3px 4px 0px rgba(140, 140, 140, 0.63);
}
section#prestador .photo img {
  width: 150px;
  height: 150px;
}
section#prestador .name-prestador {
  color: #0e263e;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
section#prestador .opciones-prestador .opc-prestador a {
  width: 235px;
  margin: 5%;
}
section#prestador .detalles-prestador {
  border-bottom: solid 0.1px #e48f27;
}
section#prestador .detalles-prestador h1 {
  color: #e48f27;
  font-family: "Roboto", sans-serif;
  text-shadow: 0px 1px 2px black;
  margin: 5% 0% 2%;
}
section#prestador .info-prestador {
  color: #0e263e;
  font-family: "Montserrat", sans-serif;
}

//Editar Perfil
//menu
.menu-perfil {
  margin-bottom: 3em;
}

.nav-tab-perfil {
  width: 102% !important;
  margin-bottom: 2em;
}

.nav-perfil {
  color: #495057;
  font-size: 0.8em;
}

//Editar perfil - Seguridad

//Editar perfil - Documentos
#documentos .panel {
  padding: 2%;
}
#documentos .acciones {
  justify-content: center;
  display: flex;
}
#documentos .acciones a {
  color: #0e263e;
}
//editar perfil - mensajes
.chat-search-box {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  padding: 0.75rem 1rem;
}

.chat-search-box .input-group .form-control {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-right: 0;
  height: 49px;
}

.chat-search-box .input-group .form-control:focus {
  border-right: 0;
}

.chat-search-box .input-group .input-group-btn .btn {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  margin: 0;
}

.chat-search-box .input-group .input-group-btn .btn i {
  font-size: 1.2rem;
  line-height: 100%;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .chat-search-box {
    display: none;
  }
}

/************************************************
************************************************
                Users Container
************************************************
************************************************/

.users-container {
  position: relative;
  padding: 1rem 0;
  border-right: 1px solid #e48f27;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

/************************************************
************************************************
                    Users
************************************************
************************************************/

.users {
  padding: 0;
}

.users .person {
  position: relative;
  width: 100%;
  padding: 10px 1rem;
  cursor: pointer;
  border-bottom: 1px solid #f0f4f8;
}

.users .person:hover {
  background-color: #ffffff;
  /* Fallback Color */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e9eff5),
    to(#ffffff)
  );
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(right, #e9eff5, #ffffff);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, #e9eff5, #ffffff);
  /* FF3.6 */
  background-image: -ms-linear-gradient(right, #e9eff5, #ffffff);
  /* IE10 */
  background-image: -o-linear-gradient(right, #e9eff5, #ffffff);
  /* Opera 11.10+ */
  background-image: linear-gradient(right, #e9eff5, #ffffff);
}

.users .person.active-user {
  background-color: #ffffff;
  /* Fallback Color */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f7f9fb),
    to(#ffffff)
  );
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(right, #f7f9fb, #ffffff);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, #f7f9fb, #ffffff);
  /* FF3.6 */
  background-image: -ms-linear-gradient(right, #f7f9fb, #ffffff);
  /* IE10 */
  background-image: -o-linear-gradient(right, #f7f9fb, #ffffff);
  /* Opera 11.10+ */
  background-image: linear-gradient(right, #f7f9fb, #ffffff);
}

.users .person:last-child {
  border-bottom: 0;
}

.users .person .user {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.users .person .user img {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.users .person .user .status {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #e6ecf3;
  position: absolute;
  top: 0;
  right: 0;
}

.users .person .user .status.online {
  background: #9ec94a;
}

.users .person .user .status.offline {
  background: #c4d2e2;
}

.users .person .user .status.away {
  background: #f9be52;
}

.users .person .user .status.busy {
  background: #fd7274;
}

.users .person p.name-time {
  font-weight: 600;
  font-size: 0.85rem;
  display: inline-block;
}

.users .person p.name-time .time {
  font-weight: 400;
  font-size: 0.7rem;
  text-align: right;
  color: #8796af;
}

@media (max-width: 767px) {
  .users .person .user img {
    width: 30px;
    height: 30px;
  }
  .users .person p.name-time {
    display: none;
  }
  .users .person p.name-time .time {
    display: none;
  }
}

/************************************************
************************************************
                Chat right side
************************************************
************************************************/

.selected-user {
  width: 100%;
  padding: 0 15px;
  min-height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #e48f27;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.selected-user span {
  line-height: 100%;
}

.selected-user span.name {
  font-weight: 700;
}

.chat-container {
  position: relative;
  padding: 1rem;
}

.chat-container li.chat-left,
.chat-container li.chat-right {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 40px;
}

.chat-container li img {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.chat-container li .chat-avatar {
  margin-right: 20px;
}

.chat-container li.chat-right {
  justify-content: flex-end;
}

.chat-container li.chat-right > .chat-avatar {
  margin-left: 20px;
  margin-right: 0;
}

.chat-container li .chat-name {
  font-size: 0.75rem;
  color: #999999;
  text-align: center;
}

.chat-container li .chat-text {
  padding: 0.4rem 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #2866a559;
  font-weight: 300;
  line-height: 150%;
  position: relative;
}

.chat-container li .chat-text:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 10px;
  left: -20px;
  border: 10px solid;
  border-color: transparent #2866a559 transparent transparent;
}

.chat-container li.chat-right > .chat-text {
  text-align: right;
}

.chat-container li.chat-right > .chat-text:before {
  right: -20px;
  border-color: transparent transparent transparent #2866a559;
  left: inherit;
}

.chat-container li .chat-hour {
  padding: 0;
  margin-bottom: 10px;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 15px;
}

.chat-container li .chat-hour > span {
  font-size: 16px;
  color: #9ec94a;
}

.chat-container li.chat-right > .chat-hour {
  margin: 0 15px 0 0;
}

@media (max-width: 767px) {
  .chat-container li.chat-left,
  .chat-container li.chat-right {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .chat-container li img {
    width: 32px;
    height: 32px;
  }
  .chat-container li.chat-left .chat-avatar {
    margin: 0 0 5px 0;
    display: flex;
    align-items: center;
  }
  .chat-container li.chat-left .chat-hour {
    justify-content: flex-end;
  }
  .chat-container li.chat-left .chat-name {
    margin-left: 5px;
  }
  .chat-container li.chat-right .chat-avatar {
    order: -1;
    margin: 0 0 5px 0;
    align-items: center;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
  }
  .chat-container li.chat-right .chat-hour {
    justify-content: flex-start;
    order: 2;
  }
  .chat-container li.chat-right .chat-name {
    margin-right: 5px;
  }
  .chat-container li .chat-text {
    font-size: 0.8rem;
  }
}

.chat-form {
  padding: 15px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-top: 1px solid white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card {
  border: 0;
  background: #f4f5fb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 2rem;
  box-shadow: none;
}
//profesionalPerfil viejo
.contenedor-datos {
  padding-top: 3%;
  text-align: left;
}
.datos-perfil {
  width: 70%;
  padding-left: 100px;
}

.ficha {
  display: flex;
}
.titulo-detalle {
  border-bottom: solid 0.1px #78bc57;
  margin-bottom: 3%;
}
.avatar {
  margin-right: 2%;
}
.user-avatar {
  height: 200px;
}
.user-avatar-icon {
  font-size: 200px;
  color: #252533;
}
.datos-prestador {
  margin-left: 2%;
}
.ficha {
  display: flex;
  justify-content: center;
}
.opcion a {
  width: 200px;
}
.consultar {
  margin-bottom: 3%;
}

.cont-inscrip {
  margin-bottom: 50px;
}
//Comentarios y calificación perfil
.ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 32px;
  font-size: 2rem;

  color: #888;
}

.ec-stars-wrapper:hover a {
  color: #e48f27;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color: #888;
}
//Fin perfil profesional

//TErminos y condiciones que el prestador de servicio debe aceptar
.bases {
  text-align: justify;
}

//perfil que solo ve el usuario

//login
.modal-content-color {
  background-color: white;
  border-top: solid 5px #e48f27;
}
.modal.show .modal-dialog {
  margin-top: 6%;
}

.cont-login {
  margin-top: 5%;
}

.prefix {
  color: #e48f27;
  font-size: 25px;
  margin: 5px;
}
.login-links {
  margin: 20px auto;
}
.modal-title,
.login-links > span,
.modal-body > .md-form > label {
  color: #02093b;
}

//media queries
@media (min-width: 1024px) {
  .how-work > .row {
    width: 100%;
  }
}

//tablet
@media (max-width: 780px) {
  .footer {
    height: 175px;
  }
  footer .sin_subrayar {
    text-align: center;
  }
  .footer .logos img {
    width: 250px;
  }

  .filter-bar {
    max-width: 768px;
  }
  .filter-container div {
    margin: 5px 0;
  }
  .filter-container .bot {
    text-align: center;
  }
  .shop-banner {
    text-align: center;
    padding: 20px 0px 90px;
  }
  .shop-banner p {
    width: 100%;
    text-align: center;
    padding: 10px 45px;
  }
  #mapa {
    margin: 0 auto;
    width: 340px;
  }
  .neo-title {
    font-size: 30px;
  }
  section#contact .container {
    margin-bottom: 105px;
  }
  .how-work {
    min-height: 115vh;
  }
}

//telefono
@media (max-width: 576px) {
  //registro
  .card-register {
    margin-left: -15em;
    width: 27em;
  }
  //slider register
  .register-swiper {
    width: 100%;
    padding-top: 212px;
    padding-left: 0em;
    margin-left: 200px !important;
    margin-bottom: 105px !important;
  }

  #boton-registrar {
    margin-left: 9em;
    border: 1px solid #e48f27;
  }
  //header
  //Titulo
  .display-1 {
    font-size: 2.2rem;
    margin-left: 0.8em;
    margin-top: 1.5em;
  }

  #subtitulo1 {
    margin-left: 0.6em;
    font-size: 1em;
    margin-top: 1.5em;
  }
  .footer {
    height: 300px;
    width: 100%;
  }
  #boton1 {
    width: 89%;
    margin-left: 15px;
    margin-top: -1em;
  }

  #boton2 {
    width: 89%;
    margin-left: 1.1em;
    margin-top: 3em;
  }
  .swiper-container {
    margin-top: 15px;
    margin-left: 0px;
  }

  footer .logos {
    flex-direction: column;
    justify-content: center;
  }
  .footer .logos img {
    width: 350px;
    margin: 5px;
  }

  .filter-bar {
    margin: 10px;
  }

  .row-slider {
    margin-bottom: 0px;
    justify-content: center;
  }
  .slider {
    margin-bottom: 50px;
  }
  .slider-der {
    margin-left: 0px;
  }

  .shop-banner .container .sale-percent {
    margin: 10px;
    font-size: 50px;
    line-height: 55px;
  }
  section#contact .container {
    margin-bottom: 220px;
  }

  .how-work > .container > .row > .col-9 {
    margin: 5%;
  }
  .mresp {
    margin-bottom: 64%;
  }
  .hw-title {
    width: 80%;
    text-align: center;
  }
}
@media (max-width: 320px) {
  #mapa {
    width: 290px;
  }
}

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

//----------------------------------------------------------------------------------------------//
//---------------------------------------- MEDIA QUERYS ----------------------------------------//
//----------------------------------------------------------------------------------------------//

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #inputID {
    margin-right: 0px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 321px) {
  #inputID {
    margin-right: 0px;
  }

  .input-filter {
    width: 285px;
  }

  #hero-background {
    height: 700px;
  }

  .filters-container {
    margin-top: 82px;
  }

  .form-control {
    width: 100%;
    margin-bottom: 12px;
  }

  .map-container {
    margin-bottom: 60%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #inputID {
    margin-right: 0px;
  }

  #hero-background {
    height: 705px;
  }

  .filters-container {
    margin-top: 89px;
  }

  .form-control {
    width: 100%;
    margin-bottom: 12px;
  }

  .map-container {
    margin-bottom: 60%;
  }

  #results-cards-container {
    margin-top: 20%;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
